/* top */
#top
    display: block
    min-height: 48px
    .top-container
        display: block
        #top-left-links,
        #top-right-links
            vertical-align: middle

/* left */
#top #top-left-links ul li a,
#top #top-left-links ul li a:visited
    height: 48px
    line-height: 50px
    border: transparent

#top #top-left-links ul li a:hover
    border-bottom: none

/* language */
#top .language-currency
    vertical-align: middle
    margin-top: 5px

#top .btn-link.btn-language i:first-child,
#top .btn-link.btn-currency i:first-child
    top: 0
    font-size: 14px

#top .btn-language > span
    margin-right: 4px

#top-right-links .language-currency .dropdown-menu
    margin-top: 3px

#top .btn.btn-link.dropdown-toggle.btn-language
    margin-bottom: 3px

#top .btn.btn-link.dropdown-toggle.btn-language span
    font-size: 14px

/* work time and register */
#top .list-inline
    vertical-align: middle

#top .list-inline a span
    font-size: 14px

#top .dropdown-menu
    margin: 0

#top #top-right-links > ul > li,
#top #top-right-links > ul > li:hover
    border-bottom: none

#top #top-right-links > ul > li a
    height: 48px !important
    line-height: 48px !important

/* header */
header
    padding: 22px 0 23px

/* logo */
#logo
    margin: 0

/* search */
#search
    margin: 0 0 6px
    .btn-lg
        padding: 6px
        color: $text-color
    .input-lg
        height: 32px
        &::placeholder
            color: $text-color
    .btn-search
        padding: 6px 6px 6px 12px
    .fa-search
        color: $text-color
        margin: 0 4px 0 0

/* phones */
.phones-top-box
    margin-bottom: 0
    > div
        margin: 0 -25px 20px 0
        text-align: center
    .phones-dropdown
        .dropdown-menu
            padding: 10px 10px 10px 30px
        > a
            > span
                font-size: 18px
            &:hover
                color: $accent-color-dark
        i.fa-caret-down
            margin-left: 8px
            color: $text-color
        a.show-phones
            left: 5px
            color: $text-color

/* cart */
.buttons-top-box
    line-height: 39px
    margin-bottom: -2px
    #cart
        display: block
        margin: 0 34px
    div
        a
            &:hover
                i
                    span
                        background: $text-color
        i
            font-size: 18px
            span
                background: $text-color
                font-family: "PTSans Regular", sans-serif