body
    font-family: 'PTSans Regular', sans-serif
    color: $text-color

a
    color: $accent-color-dark
    &:hover
        color: $recessive-color

a.list-group-item,
button.list-group-item,
input[type='text'].form-control,
select.form-control,
input[type='password'].form-control,
.filtered .link i,
.filtered .checkbox input[type=checkbox]+label,
.filtered .checkbox-inline input[type=checkbox]+label,
.filtered .radio input[type=radio]+label,
.filtered .radio-inline input[type=radio]+label,
.popup-form-box input[type='text'],
.popup-form-box input[type='tel'],
.popup-form-box input[type='email'],
#auth-popup .auth-popup-links a.reg-popup-link,
.popup-text, .popup-text a, #product .control-label,
.popup-form-box textarea
    color: $text-color

#oct-bluring-box
    background: $main-color-bg

a.wishlist.oct-button.current-link,
a.compare.oct-button.current-link
    display: none !important

a.wishlist.oct-button,
a.compare.oct-button
    display: none !important

a.oct-button.button-wishlist,
a.oct-button.button-compare
    display: none !important

.breadcrumb
    i
        font-size: 11px
    > li
        > a
            color: $text-color !important
        span
            color: $text-color

.content-row
    box-shadow: none

.oct-discount-item
    background: $recessive-color

#back-top
    right: 56px

#uptocall-mini
    right: 43px

#uptocall-mini .uptocall-mini-phone i
    top: 16px
    left: 16px
    color: $main-color-bg
    font-size: 24px