/* DESKTOP FIRST */
@media screen and (max-width: 1200px)
    /* product */
    #product-info-right .product-rating-box
        display: none

@media screen and (max-width: 992px)
    /* header */
    header
        padding: 68px 0 13px

    #m-wishlist
        display: none

    #m-cart
        top: 8px
        margin-right: 22px

    /* menu */
    #menu .oct-mm-simplecat .second-level-li > a
        font-size: 14px

    /* common */
    .oct-product-tab ul.nav-tabs > li.active
        background: $border-color
    .oct-product-tab ul.nav-tabs > li.active a
        font-size: 14px
    .oct-product-tab ul.nav-tabs > li a
        font-size: 14px
    .oct-product-tab ul.nav-tabs > li a:hover
        font-size: 14px

    /* checkout */
    .oct-checkout-content
        padding-left: 0

@media screen and (max-width: 767px)
    /* category */
    #res-products .product-grid
        min-height: 370px

    .cat-model
        font-size: 12px

    .product-thumb h4 a
        font-size: 14px

    .product-thumb .cart a.button-cart i
        display: inline-block
        margin: 0 3px 0 0

    .product-thumb .cart a > span
        display: inline-block

    /* product */
    .after-header-row > div
        margin: 0 0 12px

    .after-header-row .fa-check-circle
        display: inline-block

    .oct-product-stock
        display: none

@media screen and (max-width: 560px)
    /**/

@media screen and (max-width: 480px)
    /* popup cart */
    .popup-buttons-box
        display: flex
        flex-direction: column

    #popup-cart-inner .popup-buttons-box .popup-button
        margin: 0 0 12px

    .oct-cart-item > div.item-quantity
        margin-top: 33px
        margin-left: 138px

    /* footer */
    #newsletter::placeholder
        font-size: 10px

    footer .third-row .f-acc-toggle:before,
    footer .third-row .f-acc-toggle:after
        background: $text-color

@media screen and (max-width: 479px)
    .oct-cart-item > div.item-price
        top: -31px
        left: 36px

@media screen and (max-width: 360px)
    /**/

@media screen and (max-width: 320px)
    /* category */
    .product-thumb .cart a.button-cart
        padding: 12px 7px
        font-size: 13px

    /* popup cart */
    .oct-cart-item > div.item-price
        top: -24px
        margin-top: 9px
        margin-left: 127px

/* MOBILE FIRST */
@media screen and (min-width: 992px)
    /**/

@media screen and (min-width: 993px)
    /**/

@media screen and (min-width: 1024px)
    /* header */
    .product-grid .product-thumb:hover h4 a
        text-decoration: none

    /* common */
    .common-home
        .oct-product-tab ul.nav-tabs
            display: flex
            border: none
            &:before,
            &:after
                display: none
        .oct-product-tab ul.nav-tabs > li
            width: 25%
            margin: 0 25px 0 0
            border: 1px solid $border-color
        .oct-product-tab ul.nav-tabs > li:first-child
            border-left: 1px solid $border-color
        .oct-product-tab ul.nav-tabs > li:last-child
            margin: 0
        .oct-product-tab .owl-item:hover .oct-product-stock
            display: none
        .oct-product-tab .cat-box-effect
            height: 40px
            overflow: hidden
        .oct-product-tab .owl-item .cat-box-effect-inner
            height: 80px
            overflow: hidden
            transition: transform .3s ease
            transform: rotate(0)
        .oct-product-tab .owl-item:hover .cat-box-effect-inner
            transform: translateY(-40px)


@media screen and (min-width: 1200px)
    /**/