#livesearch_search_results {
        margin:0px;
        padding:5px;
        position: absolute;
        top: 52px;
        left: 0px;
        right: 0;
        background-color: #000;
        list-style-type: none;
        min-width: 265px;
        width: auto;
        background-color: rgba(255, 255, 255, 0.98);
        padding: 20px;
        -webkit-box-shadow: 0px 5px 41px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 5px 41px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 5px 41px 0px rgba(0, 0, 0, 0.1);
        overflow: auto;
        z-index: 2000;
        
}
@media only screen and (max-width: 767px) {
	#livesearch_search_results {
	    left: 3px;
	    height: 376px;
	}	
}
#livesearch_search_results li {
        padding: 5px;
}

#livesearch_search_results hr {
        border: none; 
	    color: none; 
	    background-color: #fcfcfc; 
	    height: 1px; 
	    margin: 10px;
}
#livesearch_search_results a,
#livesearch_search_results a:visited,
#livesearch_search_results a:hover {
        color: #000;
        text-decoration: none;
        font-size: 16px;
	    font-family: 'PTSans Regular';
        font-weight: 400;
	    font-weight: normal;
	    text-decoration: none;
        
}
#livesearch_search_results a:hover {
        text-decoration: underline;
        
}
#livesearch_search_results a:hover {
        color: #999;
}

#livesearch_search_results img {
        border: 1px solid #f0f0f0;
        border-radius: 1px;
}

.br-theme-fontawesome-stars .br-widget {
  height: 28px;
  white-space: nowrap;
}
.br-theme-fontawesome-stars .br-widget a {
  font: normal normal normal 18px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  margin-right: 2px;
}
.br-theme-fontawesome-stars .br-widget a:after {
  content: '\f005';
  color: #dddddd;
}
.br-theme-fontawesome-stars .br-widget a.br-active:after {
  color: #ffdf88;
}
.br-theme-fontawesome-stars .br-widget a.br-selected:after {
  color: #ffdf88;
}
.br-theme-fontawesome-stars .br-widget .br-current-rating {
  display: none;
}
@media print {
  .br-theme-fontawesome-stars .br-widget a:after {
    content: '\f006';
    color: black;
  }
  .br-theme-fontawesome-stars .br-widget a.br-active:after,
  .br-theme-fontawesome-stars .br-widget a.br-selected:after {
    content: '\f005';
    color: black;
  }
}
