#top, .oct-product-tab .owl-carousel .owl-item .cart .oct-button.wishlist, .oct-product-tab .owl-carousel .owl-item .cart .oct-button.compare, .oct-carousel-row .owl-carousel .owl-item .cart .oct-button.wishlist, .oct-carousel-row .owl-carousel .owl-item .cart .oct-button.compare, .product-thumb .cart .oct-button.wishlist, .product-thumb .cart .oct-button.compare, .oct-day-goods-box .owl-carousel .owl-item .things-to-buy, .oct-product-tab ul.nav-tabs > li.active, .oct-product-tab ul.nav-tabs > li:hover, #back-top:hover, #uptocall-mini:hover .uptocall-mini-phone, .field-tip .tip-content, footer, .filtered input[type=checkbox]:checked+label::before, .filtered input[type=radio]:checked+label::before, #sstore-3-level>ul>li>a, .product-buttons-row .button-one-click, .product-buttons-row .button-wishlist, .product-buttons-row .button-compare, .product-tabs-row .nav-tabs>li.active>a, .product-tabs-row .nav-tabs>li.active>a:focus, .product-tabs-row .nav-tabs>li.active>a:hover, footer .actions button:hover, .popup-button:hover, #column-left .list-group, #column-right .list-group, .oct-news-panel .list-group {
	background-color: #EB1227;
}
.oct-button:hover, .oct-button-inv {
	background-color: #EB1227 !important;
}
a, #search .btn-lg, .phones-dropdown a, #menu .nav > li > a, .oct-carousel-header, .oct-category-item-text ul li a, .oct-category-item-text ul li a:visited, .oct-category-item-text ul li.oct-category-see-more a:hover, .oct-product-tab .owl-carousel .owl-item .name a, .oct-carousel-row .owl-carousel .owl-item .name a, .oct-day-goods-box .owl-carousel .owl-wrapper-outer .item .oct-day-goods-item .name a, .news-carousel-box .owl-carousel .owl-wrapper-outer .item .oct-news-item .name a, .oct-product-tab .owl-carousel .owl-buttons div, .oct-carousel-row .owl-carousel .owl-buttons div, .oct-day-goods-box .owl-carousel .owl-buttons div, .news-carousel-box .owl-carousel .owl-buttons div, .brands-carousel-box .owl-carousel .owl-buttons div, .news-carousel-box .owl-carousel .owl-wrapper-outer .item .oct-news-item .news-date, .news-carousel-box .owl-carousel .owl-wrapper-outer .item .oct-news-item .news-date span, .breadcrumb > li a, h1.cat-header, .sort-row .input-group-addon, .appearance .btn-group button, .box-heading, a.list-group-item, button.list-group-item, input[type='text'].form-control, select.form-control, input[type='password'].form-control, .filtered .link i, .filtered .checkbox input[type=checkbox]+label, .filtered .checkbox-inline input[type=checkbox]+label, .filtered .radio input[type=radio]+label, .filtered .radio-inline input[type=radio]+label, #sstore-3-level ul ul ul li a, .product-thumb h4 a, .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover, .pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover, .product-header, .after-header-item, .found-cheaper a, .found-cheaper a:visited, .product-price h3, .number .btn-minus button i, .number .btn-plus button i, .product-info-li span, .product-info-li a, .product-info-li a:visited, .product-advantages-box a span, h2.popup-header, .popup-form-box input[type='text'], .popup-form-box input[type='tel'], .popup-form-box input[type='email'], #auth-popup .auth-popup-links a.reg-popup-link, .popup-text, .popup-text a, #product .control-label, .popup-form-box textarea, .oct-bottom-cart-in-cart p, .account-content .buttons div .button-back, .account-content .table-div table .button-back, .popup-text a:hover, .oct-carousel-header a:hover, #column-left .panel-default>.panel-heading, .oct-news-panel>.panel-heading, #column-right .panel-default>.panel-heading, #oneclick-popup #main-price {
 color: #EB1227;
}
#menu .nav > li:hover, .oct-slideshow-box .owl-controls .owl-page span {
	border-color: #EB1227;
}
#filter-products-form .expanded .item-content .filter-results:hover .filter-tooltip-corner {
	border-right-color: #EB1227;
}
.product-tabs-row .nav-tabs>li.active>a:before {
	border-top-color: #EB1227;
}
#menu .nav > li:hover, #menu ul.flexMenu-popup > li:hover, .oct-button, .oct-button:visited, .oct-button:focus, #back-top, #uptocall-mini .uptocall-mini-phone, .oct-day-goods-box .owl-carousel .owl-wrapper-outer .item .oct-day-goods-item:hover .things-to-buy, .oct-day-goods-box .owl-carousel .owl-wrapper-outer .item .oct-day-goods-item:hover .things-to-buy .flip-clock-wrapper ul li a div div.inn, footer .actions button, #sstore-3-level ul>li.has-sub>a.toggle-a:before, #sstore-3-level ul>li.has-sub>a.toggle-a:after, .product-tabs-row .nav-tabs>li>a, ul.account-ul li a:hover, .popup-button, .oct-fastorder-header span, #column-left .panel-default>.panel-heading, #column-right .panel-default>.panel-heading, .oct-news-panel>.panel-heading, #column-left .list-group a.active, #column-left .list-group a.active:hover, #column-left .list-group a:hover, #column-right .list-group a.active, #column-right .list-group a.active:hover, #column-right .list-group a:hover, .oct-news-panel .list-group a.active, .oct-news-panel .list-group a.active:hover, .oct-news-panel .list-group a:hover{
	background-color: #0067A7;
}
.product-thumb .cart .oct-button.wishlist:hover, .product-thumb .cart .oct-button.compare:hover, .product-buttons-row .button-wishlist:hover, .product-buttons-row .button-compare:hover, .button-one-click:hover, .wishlist-tr, .oct-product-tab .owl-carousel .owl-item .cart .oct-button.wishlist:hover, .oct-product-tab .owl-carousel .owl-item .cart .oct-button.compare:hover, .oct-carousel-row .owl-carousel .owl-item .cart .oct-button.wishlist:hover, .oct-carousel-row .owl-carousel .owl-item .cart .oct-button.compare:hover, .product-thumb .cart .oct-button.wishlist:hover, .product-thumb .cart .oct-button.compare:hover, .oct-button-inv:hover  {
	background-color: #0067A7!important;
}
#top .btn-link.btn-language:hover, #top .btn-link.btn-currency:hover, #top #top-right-links .dropdown-menu li a:hover, header .dropdown-menu li a:hover, #cart .cart-total-price, .buttons-top-box div a:hover, #menu .sale-ul > div .megamenu-sale-item .dropprice, .oct-slideshow-box .owl-controls .owl-buttons div:hover, .oct-category-item-text ul li.oct-category-see-more a, .oct-product-tab .owl-carousel .owl-item .price .price-new, .oct-carousel-row .owl-carousel .owl-item .price .price-new, .oct-day-goods-box .owl-carousel .owl-item .price .price-new, .oct-product-tab .owl-carousel .owl-buttons div:hover, .oct-carousel-row .owl-carousel .owl-buttons div:hover, .oct-day-goods-box .owl-carousel .owl-buttons div:hover, .news-carousel-box .owl-carousel .owl-buttons div:hover, .brands-carousel-box .owl-carousel .owl-buttons div:hover, footer h5, footer .h5, footer .first-row .socials-box a:hover, footer a:hover, footer .footer-contacts ul li i, .breadcrumb > li span, .appearance .btn-group button.active, .appearance .btn-group button:hover, .product-list .product-thumb h4 a:hover, .rating .fa-star, .rating .fa-star + .fa-star-o, .oct-product-stock span, .pagination>li:first-child>a, .pagination>li:first-child>span, .pagination>li>a, .pagination>li>span, .after-header-item .blue, .product-price h2, .number .btn-minus button:hover i, .number .btn-plus button:hover i, .product-advantages-box i, ul.account-ul li a, .account-content form legend, .account-content h2, .account-content .buttons div .button-back:hover, .account-content .table-div table .button-back:hover, .popup-text .item-link, .popup-text .blue, #product-options-popup .blue, #auth-popup .auth-popup-links a.forget-popup-link, #main-price, #cheaper-popup .main-price, .popup-text a, .oct-product-tab ul.nav-tabs > li a, .oct-fastorder-header, #checkout-fastorder-page .table .oct-bottom-cart-table-text, .fastorder-panel-group .oct-bottom-cart-total-cart .total-text span, .oct-carousel-header a, .oct-carousel-header a:visited, .oct-category-item-box .oct-category-item-text .oct-category-item-header, .main-advantage-item .main-advantage-item-icon i, #oneclick-popup #main-price.oneclick-main-price, .oct-category-item-text ul li a:hover, .breadcrumb > li a:hover, #subcats .subcat-box:hover a, #cart-popup .popup-text span {
	color: #0067A7;
}
#top #top-right-links .dropdown-menu li a:hover, header .dropdown-menu li a:hover, #menu .megamenu-full-width a:hover, #menu .megamenu-full-width a.megamenu-parent-img:hover + a, .oct-product-tab .owl-carousel .owl-item .name a:hover, .oct-product-tab .owl-carousel .owl-item .image:hover + .name a, .oct-carousel-row .owl-carousel .owl-item .name a:hover, .oct-carousel-row .owl-carousel .owl-item .image:hover + .name a, .oct-day-goods-box .owl-carousel .owl-item .name a:hover, .oct-day-goods-box .owl-carousel .owl-item .image:hover + .name a, .news-carousel-box .owl-carousel .owl-item .name a:hover, .news-carousel-box .owl-carousel .owl-item .image:hover + .name a, #top .btn-link.language-select:hover, #top .btn-link.currency-select:hover, #menu .megamenu-full-width .see-all, footer .oct-text-terms a:hover, .popup-cart-box .oct-popup-cart-link {
	color: #0067A7!important;
}
@media only screen and (min-width: 1024px) {
	.product-grid .product-thumb:hover h4 a {
		color: #0067A7;
	}
}
.oct-slideshow-box .owl-controls .owl-page.active span, .oct-slideshow-box .owl-controls .owl-page span:hover, .filtered input[type=checkbox]+label::before, .filtered input[type=radio]+label::before {
	border-color: #0067A7;
}
.selected-thumb {
	border-color: #0067A7!important;
}
#top #top-left-links ul li a:hover, #top #top-right-links > ul > li:hover {
	border-bottom-color: #0067A7;
}
#top {
	background-color: #ECECEC;
}
header{
	background-color: #FCFCFC;
}
.menu-row{
	background-color: #9CCEEE !important;
}
#top #top-left-links ul li a, #top #top-left-links ul li a:visited, #top .btn-link.btn-language, #top .btn-link.btn-currency, #top #top-right-links > ul > li a, #top #top-right-links > ul > li a:visited, #top #top-right-links > ul > li a:hover {
	color: #252525;
}
#top #top-left-links ul li a:hover, #top .btn-link.btn-language:hover, #top .btn-link.btn-currency:hover, #top #top-right-links > ul > li a:hover {
	color: #252525;
}
#top #top-left-links ul li a:hover {
	background-color: #ECECEC;
}
#top #top-right-links > ul > li {
	background-color: #ECECEC;
}
#top #top-left-links ul li a:hover, #top #top-right-links > ul > li:hover {
	border-bottom-color: #ECECEC;
}
#top .dropdown-menu, header .dropdown-menu {
	background-color: #FFFFFF;
}
#top .btn-link.language-select, #top .btn-link.currency-select, #top-links li, #top-links a, #top #top-right-links .dropdown-menu li span, #top #top-right-links .dropdown-menu li a, header .dropdown-menu li a {
	color: #252525!important;
}
#top #form-currency .currency-select:hover, #top #form-language .language-select:hover, #top #top-right-links .dropdown-menu li a:hover, header .dropdown-menu li a:hover {
	color: #252525;
}
.phones-dropdown a {
	color: #0067A7;
}
.phones-dropdown a i.fa-phone, .phones-dropdown a.show-phones {
	color: #0067A7;
}
#cart {
	background-color: #0067A7;
}
.buttons-top-box div a {
	color: #FFFFFF;
}
#cart .cart-total-price {
	color: #FFFFFF;
}
.buttons-top-box div a:hover {
	color: #FFFFFF;
}
#menu .nav > li:hover {
	background-color: #0067A7;
}
#menu .nav > li:hover {
	border-color: #0067A7;
}
#menu .nav > li > a {
	color: #FFF !important;
}
#menu .nav > li:hover > a {
	color: #FFFFFF;
}
#menu .dropdown-menu {
	background-color: #FFFFFF;
}
#menu .dropdown-inner a {
	color: #252525;
}
#menu .dropdown-menu .has-child:hover i, #menu .dropdown-menu .has-child:hover a, #menu .dropdown-menu .has-child a:hover, #menu .oct-mm-info .dropdown-menu .has-child a:hover {
	color: #FFFFFF;
}
@media only screen and (min-width: 992px) {#menu .second-level-li.has-child:hover > a, #menu .second-level-li.has-child:hover > a:visited, #menu .oct-mm-info .dropdown-menu ul li.second-level-li:hover a, #menu .oct-mm-simplecat .dropdown-menu ul li.second-level-li:hover > a {
	color: #FFFFFF !important;
}}
#menu .dropdown-menu li.second-level-li:hover {
	background-color: #0067A7;
}
#menu .sale-ul > div .megamenu-sale-item .dropprice {
	color: #EB1227;
}
#menu .sale-ul > div .megamenu-sale-item .dropprice span {
	color: #CECECE;
}
footer {
	background-color: #FFFFFF;
}
footer a, footer a:visited, footer .third-row ul li {
	color: #252525 !important;
}
footer a:hover {
	color: #252525 !important;
}
footer .footer-advantages-box .footer-advantages a, footer .footer-advantages-box .footer-advantages a:visited {
	color: #0067A7 !important;
}
footer .footer-advantages-box .footer-advantages:hover a {
	color: #0067A7 !important;
}
footer .footer-advantages span {
	color: #252525;
}
footer h5, footer .h5 {
	color: #252525;
}
footer .footer-contacts ul li i {
	color: #252525;
}
#oct-slide-panel .oct-slide-panel-heading {
	background-color: #FFFFFF;
}
#oct-last-seen-link:hover, #oct-favorite-link:hover, #oct-compare-link:hover, #oct-bottom-cart-link:hover, .oct-panel-link-active, #hide-slide-panel {
	background-color: #252525;
}
.oct-panel-link, .oct-panel-link:focus, .oct-panel-link:visited {
	color: #252525;
}
.oct-panel-link:hover, .oct-panel-link-active a {
	color: #FFFFFF!important;
}
.oct-discount-item {
	background-color: #EB1227;
}
.oct-discount-item {
	color: #FFFFFF;
}
.product-thumb .price, .oct-price-normal  {
	color: #EB1227 !important;
}
.product-thumb .price-old, .oct-price-old  {
	color: #CECECE !important;
}
.product-thumb .price-new, .oct-price-new {
	color: #EB1227 !important;
}
.box-heading {
	color: #FFFFFF;
}
.box-heading {
	background-color: #0067A7;
}
.box-content, .box-content.filtered {
	background-color: #FFFFFF;
}
.filtered .list-group-item.item-name, .filtered .list-group-item.item-name:hover {
	background-color: #FFFFFF;
}
.filtered .link i {
	color: #FFFFFF!important;
}
.filtered input[type=checkbox]+label::before, .filtered input[type=radio]+label::before {
	border-color: #0067A7;
}
.filtered input[type=checkbox]:checked+label::before, .filtered input[type=radio]:checked+label::before {
	background-color: #0067A7;
}
#sstore-3-level>ul>li>a {
	background-color: #0067A7;
}
#sstore-3-level>ul>li>a {
	color: #FFFFFF;
}
#sstore-3-level ul ul li a {
	background-color: #F8F8F8;
}
#sstore-3-level ul ul li a {
	color: #0067A7;
}
#sstore-3-level ul ul ul li a {
	background-color: #F8F8F8;
}
#sstore-3-level ul ul ul li a {
	color: #252525;
}
#sstore-3-level ul ul ul li a.current-link {
	background-color: #F8F8F8;
}
#sstore-3-level ul ul ul li a.current-link {
	color: #0067A7;
}
.product-buttons-box #button-cart {
	background-color: #0067A7;
}
.product-buttons-box #button-cart:hover {
	background-color: #EB1227!important;
}
.product-buttons-row .button-one-click, .product-buttons-row .button-wishlist, .product-buttons-row .button-compare {
	background-color: #4F5F6F;
}
.product-buttons-row .button-one-click:hover, .product-buttons-row .button-wishlist:hover, .product-buttons-row .button-compare:hover {
	background-color: #801222!important;
}
.number, .found-cheaper, .after-header-item {
	background-color: #F8F8F8;
}
.product-tabs-row .nav-tabs>li>a {
	background-color: #4F5F6F;
}
.product-tabs-row .nav-tabs>li.active>a, .product-tabs-row .nav-tabs>li.active>a:focus, .product-tabs-row .nav-tabs>li.active>a:hover {
	background-color: #0067A7;
}
.product-tabs-row .nav-tabs>li.active>a:before {
	border-top-color: #0067A7;
}
.product-tabs-row .nav-tabs>li>a, .product-tabs-row .nav-tabs>li.active>a, .product-tabs-row .nav-tabs>li.active>a:focus, .product-tabs-row .nav-tabs>li.active>a:hover {
	color: #FFFFFF;
}
.selected-thumb {
	border-color: #FFFFFF!important;
}
.product-advantages-box i {
	color: #FFFFFF;
}
.product-advantages-box a span {
	color: #FFFFFF;
}
.product-advantages-box a span {
	color: #FFFFFF;
}
.after-header-item {
	color: #252525;
}
.after-header-item .blue {
	color: #252525;
}
@media only screen and (max-width: 992px) {
 #top {
	 background-color: #0067A7 !important;
 }
 .top-mobile-item a {
	 color: #FFFFFF;
 }
 .menu-mobile-header {
	 background-color: #0067A7;
 }
 .menu-mobile-header, .close-m-search a {
	 color: #FFFFFF !important;
 }
 #info-mobile-box ul li a, #info-mobile-box > ul > li, #info-mobile ul div .btn-link.btn-language, #info-mobile ul div .btn-link.btn-currency {
	 color: #252525 !important;
 }
 .mobile-icons-box a {
	 color: #0067A7 !important;
 }
 .mobile-icons-box a span {
 	 background-color: #0067A7 !important;
 }
 #menu .nav > li > a {
	color: #252525 !important;
}
}
