/* popup cart */
#popup-cart-inner {
    /* number */
    /* btn minus plus */
}

#popup-cart-inner .item-quantity .input-group {
    display: flex;
    align-items: center;
    max-width: initial !important;
}

#popup-cart-inner .btn-minus,
#popup-cart-inner .btn-plus,
#popup-cart-inner input.plus-minus {
    display: block;
    min-width: initial;
    max-width: initial;
}

#popup-cart-inner .btn-minus button i,
#popup-cart-inner .btn-plus button i {
    color: #333;
}

#popup-cart-inner .btn-minus button,
#popup-cart-inner .btn-plus button {
    border: none;
    background: transparent;
}

#popup-cart-inner .fa-shopping-cart {
    display: none;
}

.oct-cart-item > div.item-quantity input {
    padding-left: 3px;
    padding-right: 3px;
}

.oct-cart-item > div.item-price {
    margin-right: 16px;
}


/* checkout cart */
#cart-table {
    margin-bottom: 8px;
}

#cart-table .input-group.btn-block {
    display: flex;
    align-items: center;
    max-width: initial !important;
}

#cart-table input[name="quantity"] {
    margin: 0;
}

#cart-table .btn-minus button i,
#cart-table .btn-plus button i {
    color: #333;
}

#cart-table .btn-minus button,
#cart-table .btn-plus button {
    border: none;
    background: transparent;
}