#sstore-3-level>ul>li>a
    font-size: 16px

#sstore-3-level ul:first-child>li>a
    padding-top: 20px

#sstore-3-level>ul>li .toggle-a
    padding: 20px 20px 35px 30px

#sstore-3-level ul:first-child li.has-sub>a.toggle-a:before,
#sstore-3-level ul:first-child li.has-sub>a.toggle-a:after
    background: $main-color-bg !important

#sstore-3-level ul:first-child li.has-sub>a.toggle-a:before
    top: 27px

#sstore-3-level ul:first-child li.has-sub>a.toggle-a:after
    top: 23px

#sstore-3-level ul>li.has-sub>a.toggle-a:before,
#sstore-3-level ul>li.has-sub>a.toggle-a:after
    background: $main-color-bg !important

#sstore-3-level ul>li.has-sub.open>a.toggle-a:after,
#sstore-3-level ul>li.has-sub.open>a.toggle-a:before
    background: $main-color-bg !important

#sstore-3-level ul>li.has-sub li.has-sub>a.toggle-a:after,
#sstore-3-level ul>li.has-sub li.has-sub>a.toggle-a:before
    background: $accent-color-dark !important

#sstore-3-level ul>li.has-sub li.has-sub li.has-sub>a.toggle-a:after,
#sstore-3-level ul>li.has-sub li.has-sub li.has-sub>a.toggle-a:before
    background: $text-color !important

#sstore-3-level ul>li.has-sub li.has-sub li.has-sub>a.toggle-a:after
    top: 13px
#sstore-3-level ul>li.has-sub li.has-sub li.has-sub>a.toggle-a:before
    top: 17px

#sstore-3-level ul ul ul li a:hover
    color: $text-color

h1.cat-header
    color: #006a77 !important

.subcat-header
    color: $text-color !important

.row.sort-row
    background: #f8f8f8

.sort-row .input-group-addon
    color: $text-color

.appearance .btn-group button,
.appearance .btn-group button.active,
.appearance .btn-group button:hover
    background: $main-color-bg
    color: $text-color

#input-sort,
#input-limit
    background-image: url(../image/input-sort.png), linear-gradient($main-color-bg, $main-color-bg 40%, $main-color-bg)

#subcats .subcat-box a span
    color: $text-color !important

#subcats .subcat-box:hover a
    color: $text-color
    text-decoration: none

#res-products .product-grid
    min-height: 506px

.product-thumb h4 a
    color: $accent-color-dark !important

.cat-model
    margin: 8px 0 12px
    color: $text-color

.product-thumb .rating
    display: none

.product-thumb .price .common-price
    margin-top: 15px

.product-thumb .oct-product-desc
    color: $text-color

.product-grid .product-thumb .oct-additional-info
    color: $text-color

.cat-desc-box a
    text-decoration: none