#popup-cart-inner
    .oct-carousel-header
        text-transform: initial
        color: $text-color
    .popup-text
        color: $text-color
    .popup-cart-box
        .item-name
            a
                color: $text-color !important
                &:hover
                    text-decoration: none
                    color: $text-color !important
        .input-group .form-control[name^=quantity]
            min-width: 62px
            color: $text-color !important
    .item-quantity
        .input-group
            display: flex
            align-items: center
            max-width: initial !important
    .btn-minus,
    .btn-plus,
    input.plus-minus
        display: block
        min-width: initial
        max-width: initial
    .btn-minus button i,
    .btn-plus button i
        color: $text-color
    .btn-minus,
    .btn-plus
        button
            border: none
            background: transparent
    .fa-shopping-cart
        display: none
    .popup-total-cart .total-text
        color: $text-color
    .popup-buttons-box .popup-button
        height: auto
        line-height: 22px
        padding: 8px 25px 9px
        margin: 0
        font-size: 16px
        font-weight: 400
    .oct-cart-item
        > div.delete-item
            button
                font-size: 20px