//#cart-table
//    margin-bottom: 8px
//    .input-group.btn-block
//        display: flex
//        align-items: center
//        max-width: initial !important
//    input[name="quantity"]
//        margin: 0
//    .btn-minus button i, .btn-plus button i
//        color: #333
//    .btn-minus button, .btn-plus button
//        border: none
//        background: transparent

.oct-bottom-cart-box .table>thead>tr>td,
.oct-bottom-cart-box .table>thead>tr>th
    padding: 4px
    background: $accent-color-dark
    color: $main-color-bg

.oct-bottom-cart-box
    .table
        > thead
            > tr
                > td
                    padding: 4px 14px
        > tbody
            > tr
                > td
                    color: $text-color

.oct-bottom-cart-box .table .oct-bottom-cart-table-text
    font-family: "PTSans Regular", sans-serif
    color: $text-color !important
    &:hover
        text-decoration: none !important

.input-group.btn-block
    display: flex
    align-items: center
    max-width: initial !important
    input[name="quantity"]
        margin: 0
        color: $text-color
    .btn-minus button i,
    .btn-plus button i
        color: $text-color
    .btn-minus,
    .btn-plus
        button
            border: none
            background: transparent

.oct-bottom-cart-total-cart
    .total-text
        color: $text-color
        span
            color: $text-color !important

.oct-checkout-content
    border-left: none
    .login-checkout
        display: none
    .oct-fastorder-header
        margin: 0 0 12px
        color: $text-color
        span
            display: none
    .fastorder-comments
        margin: 0
    .input-group
        .form-control[name^=quantity]
            min-width: 66px

#confirm_code
    margin: 10px 0 0

.form-control[name="comment"]
    margin-bottom: 8px

.payment-block
    > div
        margin-bottom: 8px

.fastorder-panel-default
    margin-bottom: 0

.oct-fastorder-payment
    .oct-button
        margin: 12px 0 0
    .buttons
        .pull-right
            float: left !important
            > *
                padding: 9px 18px
                background: $accent-color-dark !important
                border: none
                outline: none

.narrow-popup
    max-width: 800px
    margin: 20px auto