.common-home
    .owl-carousel
        z-index: 0
        .owl-buttons
            div
                i
                    font-size: 24px
    .oct-slideshow-box
        padding: 0
        margin: 0 !important
        .owl-wrapper-outer
            padding: 0
        .item
            padding: 0
        .owl-controls
            .owl-page
                span
                    border-color: $main-color-bg
                    background: transparent
            .owl-page.active
                span
                    border-color: $accent-color-dark !important
    .oct-product-tab
        padding: 0
        border: none
        box-shadow: none
    .oct-product-tab .owl-buttons div i
        font-size: 20px
    .oct-product-tab ul.nav-tabs > li a
        color: $text-color !important
        text-transform: initial !important
    .oct-product-tab ul.nav-tabs > li:hover
        background: $border-color !important
    .oct-product-tab ul.nav-tabs > li:hover a
        background: $border-color !important
    .oct-product-tab ul.nav-tabs > li.active
        background: $border-color !important
    .oct-product-tab ul.nav-tabs > li.active a
        background: $border-color !important
    .oct-product-tab .item
        padding: 0 0 0 30px
        text-align: left
    .oct-product-tab .name
        padding: 0 0 11px
        margin: 0 30px 15px 0
        border-bottom: 1px solid $border-color
    .oct-product-tab .owl-carousel .owl-item .name a
        margin: 0
        color: $accent-color-dark
        font-size: 14px
    .oct-product-tab .owl-carousel .owl-item .name a:hover
        text-decoration: none
    .oct-product-tab .isbn
        margin: 12px 0 5px
        color: $text-color
    .oct-product-tab .name
        border-bottom: 1px solid $border-color
    .oct-product-tab .owl-carousel .owl-item .price
        line-height: 38px
        margin-bottom: 20px
        font-family: "PTSans Regular", sans-serif
        font-size: 16px
    .oct-product-tab .oct-product-stock
        margin-top: 6px
        margin-bottom: 0
    .oct-product-tab .owl-item .oct-product-stock span
        color: $text-color !important
    .oct-product-tab .owl-carousel .owl-buttons div
        height: 44px
        color: $accent-color-dark !important
    .oct-product-tab .owl-carousel .owl-item .image .quick-view
        text-align: center
    .main-advantage-row
        padding: 0 15px
        margin: 15px 0 0
        box-shadow: none
        border: 1px solid $border-color
        background: $main-color-bg
    .main-advantage-item
        height: 100px
        padding-left: 20px
        padding-right: 0
        box-shadow: none
        text-align: left
    .main-advantage-item .main-advantage-item-icon i
        font-size: 21px
        color: $text-color
    .main-advantage-item .main-advantage-item-text
        color: $text-color
        font-size: 18px
        line-height: 22px
    .oct-carousel-header
        color: $text-color !important
        text-transform: initial
        &:after
            display: none
    .news-row .oct-carousel-box
        box-shadow: none !important
    .news-row .owl-carousel .owl-item .name a
        margin-bottom: 4px
        color: $text-color !important
    .news-row .owl-carousel .owl-item .name a:hover
        text-decoration: none
    .news-row .owl-carousel .owl-item .read-more
        margin: 6px 0 0
    .news-row .owl-carousel .owl-item .read-more a
        padding: 0 20px
        color: $accent-color-dark
    .news-row .owl-carousel .owl-item .read-more a:hover
        color: $accent-color-dark
    .news-row .owl-carousel .owl-buttons div
        height: 44px
        color: $accent-color-dark !important
    .about-text-row
        margin: 0 0 12px
    .about-text-box
        padding: 0 18px 18px
        margin-top: 0
        box-shadow: none
        text-align: left
    .about-text-box .oct-carousel-header
        margin-top: 0
    .about-text-box p
        color: $text-color