.product-header
    color: $text-color

.product-rating-box
    display: none

.after-header-item .blue i
    margin: 0 10px 0 0
    color: $accent-color-dark

.after-header-item a
    color: $text-color

.found-cheaper a
    color: $accent-color-dark
    text-decoration: none

.price-col
    p
        display: none

.number .btn-minus button i,
.number .btn-plus button i
    color: #4f5f6f

.product-info-li
    a,
    span
        color: #4f5f6f

.product-price h2
    font-family: "PTSans Regular", sans-serif
    font-size: 24px

.product-tabs-row
    a
        color: $accent-color-dark

.oct-carousel-header
    color: $text-color
    text-transform: initial
    &:after
        display: none

.oct-carousel-row .owl-carousel .owl-item .name a
    color: $accent-color-dark

.oct-carousel-row .owl-carousel .owl-item .name a:hover
    text-decoration: none

.oct-carousel-row .owl-carousel .owl-item .image:hover + .name a
    text-decoration: none

.oct-carousel-row .owl-carousel .owl-item .oct-button
    padding: 10px 36px

.oct-carousel-row .owl-carousel .owl-buttons div i
    color: $accent-color-dark
    font-size: 24px

.oct-carousel-row .owl-carousel .owl-buttons div
    height: 44px
    line-height: 52px