footer
    padding-top: 0
    .footer-top
        background: $text-color
        .first-row
            padding: 20px 0
            .h5
                color: $main-color-bg
                text-transform: initial
                font-family: "PTSans Bold", sans-serif
            .input-box
                input
                    background: $main-color-bg
                    color: $text-color
                    font-size: 14px
                    &::placeholder
                        color: $text-color
                        font-size: 14px
            .actions
                button
                    font-size: 14px
            .socials-box
                a
                    color: $main-color-bg !important
    .footer-bottom
        padding: 35px 0
        background: $main-color-bg
        .third-row
            .h5
                color: $text-color
                text-transform: initial
                font-family: "PTSans Bold", sans-serif
            ul
                li
                    font-size: 16px
                    color: $text-color !important
            a
                font-size: 16px
                &:hover
                    text-decoration: none
    .footer-copyright
        padding: 0
        margin: 0
        .last-row
            margin-top: 0
            .oct-copy
                color: $text-color
            .payment-box
                > span
                    opacity: 1
                .text-payments
                    color: $text-color
    a
        color: $text-color !important
        &:visited
            color: $text-color !important
        &:hover
            color: $text-color !important
    .footer-contacts
        ul
            li
                i
                    font-size: 12px